html{
    background-color: rgb(196, 202, 255);
}

body{
    background-color: white;
}

#parrafo-inicial{
    background-color: aliceblue;
    text-align: center;
    margin: 0%;
    padding: 1cm;
}

img[src]{
    scale: 0.5;
    margin: 0;
    padding: 0%;
}

div {
    text-align: center;
}